.catalogGrid {
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: 64px;
    margin-top: 48px;
}

/* ліва частина */
.LocationFiltersContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* права частина */
.cards {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}
